* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Gilroy-Regular';
}

.supermain {
    height: 100%;
    width: 100%;
    /* background-color: grey; */
}

nav {
    display: flex;
    /* background-color: #fff; */
    padding: 1.9vw 2.6vw;
    align-items: center;
    justify-content: space-between;
}

.logomaindiv {
    display: flex;
}

.logo1 {
    height: 1.4vw;
    width: 1.4vw;
    background-color: black;
    border-radius: 50%;
}

.logo2 {
    height: 1.4vw;
    width: 1.4vw;
    background-color: black;
    border-radius: 50%;
}

.nav-text {
    display: flex;
    gap: 2.3vw;
    font-weight: 500;
    font-size: 1vw;
}

.nav2 {
    display: flex;
    padding: .7vw 2.6vw;
    gap: 4.3vw;
    font-weight: 600;
    font-style: 2vw;
}

main {
    /* background-color: grey; */
    display: flex;
    flex-wrap: nowrap;
    height: 27%;
    overflow-x:auto ;
    margin-top: 3.6vw;

}

.trend-main1 {
    /* border: 1px solid black; */
    /* background-color: pink; */
    flex-shrink: 0;

    height: 90%;
    width: 67%;
}

.trend-main2 {
    /* border: 1px solid black; */
    /* background-color: pink; */
    flex-shrink: 0;

    height: 90%;
    width: 67%;
}

.trend-main3 {
    /* border: 1px solid black; */
    /* background-color: pink; */
    flex-shrink: 0;

    height: 90%;
    width: 67%;
}

.small-text1 {
    /* border: 1px solid black; */
    /* background-color: rgb(223, 37, 68); */
    display: flex;
    align-items: center;
    gap: 3.4vw;
}

.small-text2 {
    /* border: 1px solid black; */
    /* background-color: rgb(228, 15, 50); */
    display: flex;
    align-items: center;
    gap: 3.4vw;
}

.small-text3 {
    /* border: 1px solid black; */
    /* background-color: rgb(195, 16, 46); */
    display: flex;
    align-items: center;
    gap: 3.4vw;
    
}

.big-text1 {
    /* border: 1px solid black; */
    /* background-color: rgb(223, 37, 68); */
    font-size: 7vw;
    padding-left: 4.8vw;
    height: 84%;
    display: flex;
    margin-top: -.9vw;
   
    


}

.big-text2 {
    /* border: 1px solid black; */
    /* background-color: rgb(223, 37, 68); */
    font-size: 7vw;
    padding-left: 4.8vw;
    height: 84%;
    display: flex;
   
}

.big-text3 {
    /* border: 1px solid black; */
    /* background-color: rgb(223, 37, 68); */
    font-size: 7vw;
    padding-left: 4.8vw;
    height: 84%;
    display: flex;
    
}


.small-text1 h4 {
   font-size: 1.8vw;
   font-weight: 900;
}

.small-text2 h4{
    font-size: 1.8vw;
    font-weight: 900;
}

.small-text3 h4 {
    font-size: 1.8vw;
   font-weight: 900;
}

.small-text1 p {
    font-size: 1vw;
    font-weight: 600;
 }
 .small-text2 p {
    font-size: 1vw;
    font-weight: 600;
 }
 .small-text3 p {
    font-size: 1vw;
    font-weight: 600;
 }



 main::-webkit-scrollbar{
    background-color: transparent;
    height: .4vw;


 }
 main::-webkit-scrollbar-thumb{
    background-color: rgb(235, 158, 17);
    

 }

 .big-image{
    height: 47.65%;
    background-color: rgb(66, 35, 35);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
 }


img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 28%;

}

.big-image::-webkit-scrollbar{
    display: none;
}